<p>Hi {{d.name}}, hope you are well.</p>

<p>Thanks for your commitment to judging with us so far!</p>

<p>We are pleased to present the shortlist for the {{d.category}} category - you can see the pdfs here:</p>

<a href="{{d.shortlistLink}}">{{d.shortlistLink}}</a>

<p>These are the papers you will be discussing in your judging sessions. You will not have seen the majority of these in the first round so please do read all the papers. The links will also be in the calendar invites for the discussions.</p>

<p>The aim of the discussions is to get your feedback on the positives and negatives of each campaign, rather than determining any medals just yet.</p>

<p>If you have any questions please drop myself or Chiara a message.</p>

<p>
Best,<br>
Aron
</p>